@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

.img-top {
  /* background-image: url("./valley.jpg"); */
  background : linear-gradient(0deg, rgba(8, 5, 4, 1), rgba(8,5,4, 0.7)), url(./valley.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 20vh;
  transition : all 0.6s ease;
  animation: fade 4s linear;
}

body {
  margin :0px;
  background-color: rgb(8, 5, 4);
}

.big-text {
  font-size: 3em;
  color: white;
  font-weight: 300;
  font-family: 'Sacramento', cursive;
  /* transition : all 0.6s ease; */
}

.small-text {
  font-size: 14px;
  letter-spacing: 2%;
  line-height: 24px;
  word-spacing: 1.7px;
  letter-spacing: 0.4px;
  color: #c0c0c0;
  font-family: 'Inter', sans-serif;
  position: relative;
  top:-50px;
  font-weight: 300;
  /* transition : all 0.6s ease; */
}

.pronunciation {
  font-size: 18px;
  letter-spacing: 2%;
  line-height: 28px;
  word-spacing: 1.7px;
  letter-spacing: 0.4px;
  font-family: 'Inter', sans-serif;
  position: relative;
  top:-50px;
  font-weight: 400;

  /* transition : all 0.6s ease; */
}

.highlight-text {
  --bg-size: 400%;
  --color-one: rgb(255, 207, 118);
  --color-two: rgb(249, 96, 96);
  background: linear-gradient(
                90deg,
                var(--color-one),
                var(--color-two),
                var(--color-one)
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 8s infinite linear;
}

.highlight-text-2 {
  --bg-size: 400%;
  --color-one: rgb(255, 118, 214);
  --color-two: rgb(101, 146, 250);
  background: linear-gradient(
                90deg,
                var(--color-one),
                var(--color-two),
                var(--color-one)
              ) 0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 8s infinite linear;
}


.content-block {
  width: 90%;
  max-width: 700px;
  margin: 20px auto;
  transition : all 0.6s ease;
  margin-bottom: 10vh;
  animation: fadeIn 2s ease-out;
  background: transparent;
}


.link-button {
  font-size: 14px;
  color: black;
  line-height: 28px;
  word-spacing: 1.7px;
  letter-spacing: 0.05px;
  font-family: 'Inter', sans-serif;
  color: rgb(249, 96, 96);
  background: rgba(249, 96, 96, 0.05);
  border: 1px solid rgba(249, 96, 96, 0.08);
  padding: 12px 22px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  margin-top: 4px;
  font-weight: 400;
  transition: all 0.2s ease-out
}

.link-button:hover {
  background: rgba(249, 144, 96, 0.1);
  border: 1px solid rgba(249, 144, 96, 0.08);
  color: rgb(249, 142, 96);
  transform: scale(1.05);
  box-shadow: 0px 0px 30px rgba(249, 96, 96, 0.1);
}




@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    position: relative;
    top: 10px;
  }
  to {
    opacity: 1;
    position: relative;
    top: 0px;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}




